body {
  font-size:  1.2em; !important;
  font-family: 'Open Sans', sans-serif;
}

.nav > li > a {
  color:  white !important;
  background-color: #ff8c00 !important;
  font-size: 1.2em;
}
.nav-tabs > li > a {
  color:  white !important;
  background-color: #ff8c00 !important;
  font-size: 1.2em;
}

.btn {
      font-size: 1.5em;!important;
    }

.nav-tabs>li>a:hover,
.nav-tabs>li>a:focus
{
   background-color: #ffb3e6 !important;
}

.nav > li > a:active,
.nav > li > a:hover,
.nav > li > a:focus {
   background-color: #ffb3e6 !important;
}


.title {
  color: white;
  font-size: 1.2em !important;
  background-color: #ff8c00 !important;
}

.nav-tabs > li > a {
  color: #FFFFFF;
  background-color: #1f7a8c;
}


.main-header {
  background-color: #1f7a8c !important;
}

.main-sidebar {
  background-color: #334f70 !important;
}

.content-wrapper,
.right-side {
  background-color: #f5f5f5 !important;
}

.content-wrapper {
  padding-top: 1.5em !important;
}

.sidebar-menu > li > a {
  color: #c7d0d9 !important;
  font-weight: bold !important;
  font-size: 1.5em !important;
}

.sidebar-menu > li.active > a {
  background-color: #1c4f6d !important;
  color: #c2dd34 !important;
  font-size: 1.5em !important;
}

.treeview-menu > li > a {
  background-color: #1c4f6d;
  color: #c7d0d9 !important;
  font-weight: bold !important;
  font-size: 1.5em !important;
}
/* 控制子菜单字体大小 */
.dropdown-submenu a {
  font-size: 1.5rem !important; /*设置字体大小*/
}
.navbar-default .navbar-brand {
  color: #FFFFFF;
  background-color: #1f7a8c !important;
}

.treeview-menu > li.active > a {
  background-color: #1f7a8c !important;
}

.tab-content {
  background-color: #F7F7F7;
}

.small-box {
  background-color: #fff !important;
  border-radius: 2px !important;
  border: 1px solid #d2d6de !important;
}

.small-box .icon {
  border-radius: 50% !important;
  padding: 1.5em !important;
  font-size: 1.5em !important;
  color: #1f7a8c !important;
}

.small-box h3 {
  font-size: 1.5em !important;
  font-weight: bold !important;
  margin: 0 !important;
}

.small-box p {
  font-size: 1.5em !important;
  margin: 0 !important;
}

@media screen and (max-width: 768px) {
  /* 针对小屏幕设备的CSS样式 */
  button {
    font-size: 3 em;
    padding: 5px 10px;
  }
}
